.div-enrollment{
	display: flex;
	justify-content: left;
	border: solid black;
	width: 500px;
	height: 300px;
	background-color: white;
	border-radius: 12px;

}
.table-design{
	margin-top: 30px;
	padding-top: 2px;
}
body{
	background-image: url("../images/background.png");
	background-size: cover;
	background-repeat: no-repeat;
	backface-visibility: 50%;
}
.title-header{
	font-size: 25px;
}
.div-header{
	margin-top: 200px;
	background-color: white;
	border-radius: 12px;
	width: 500px;
	border: solid black;
}
#form_2, #form_3, #form_4, #form_5{
	display: none;
}
.login-content{
	display: flex;
	justify-content: center;
	border: solid black;
	width: 500px;
	height: 300px;
	background-color: white;
	border-radius: 12px;
}